a {
	text-decoration: none;
	color: #482;
}

a:hover {
	text-shadow: 0em 0em 0.2em #000;
	color: #FFF;
}

hr {
	border: 0em;
	height: 2px;
	width: 80%;
	background-color: #256;
}

body {
	background-color: #BEF;
	color: #256;
	font-family: "PT Sans", "Helvetica", "Sans";
	font-size: 100%;
}

blockquote {
	background-color: #ADE;
	padding: 0.5em;
	overflow: scroll;
	white-space: nowrap;
}

#all_wrapper {
	margin: 2em auto;
	width: 80%;
	padding: 1em 2em;
	background-color: #9CD;
	border-radius: 2em;
	box-shadow: 0em 0em 2em #256;
}

#header_wrapper {
	text-align: center;
	font-family: "Share Tech Mono", "monospace", "mono", "Sans";
}

#header_wrapper h1 {
	color: #9CD;
	font-size: 3em;
	text-shadow: 0.05em 0.05em #256, 0em 0em 0.05em #000;
}

#header_wrapper a {
	color: inherit;
}

#header_wrapper a:hover {
	text-shadow: inherit;
	color: #FFF;
}

#content_wrapper {
	width: 80%;
	margin: auto;
	padding: 1em;
	font-size: 1.2em;
	overflow: hidden;
}

#content_wrapper p {
	padding-bottom: 1em;
}

#content_wrapper p.date {
	padding: 0;
	font-size: 0.8em;
	font-family: "Share Tech Mono", "monospace", "mono", "Sans";
}

#footer_wrapper {
	text-align: center;
	font-family: "Share Tech Mono", "monospace", "mono", "Sans";
}

#nav_bar {
	margin: auto;
	width: 80%;
	font-size: 1.2em;
	text-align: center;
	background-color: #ADE;
	border-radius: 1em;
}

#nav_bar ul {
	list-style-type: none;
	margin: auto;
	padding: 0.5em;
	overflow: hidden;
}

#nav_bar li {
	float: center;
	display: inline;
	padding: 1em 2em;
}

#nav_bar li:hover {
	background-color: #7AB;
	text-shadow: 0em 0em 0.2em #000;
}

#left_wrapper {
	float: left;
	width: 60%;
	overflow: hidden;
}

#right_wrapper {
	float: left;
	width: 40%;
	overflow: hidden;
	background-color: #ADE;
	border-radius: 2em;
}

#right_wrapper hr {
	width: 50%;
}

#right_wrapper h3 {
	text-align: center;
}

#right_wrapper p {
	text-align: justify;
	padding: 0 2em;
}

#left_wrapper h3 {
	text-align: center;
}

#left_wrapper > p {
	text-align: center;
}

#post_wrapper {
	position: relative;
	padding: 0 2em;
	font-size: 80%;
	max-height: 10em;
	overflow: hidden;
}

#post_wrapper > .gradient_overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 2em 0 0;
	background-image: -webkit-linear-gradient(to bottom, transparent, #9CD, #9CD);
	background-image: -moz-linear-gradient(to bottom, transparent, #9CD, #9CD);
	background-image: -ms-linear-gradient(to bottom, transparent, #9CD, #9CD);
	background-image: -o-linear-gradient(to bottom, transparent, #9CD, #9CD);
	background-image: linear-gradient(to bottom, transparent, #9CD, #9CD);
}

@media screen and (max-width: 62em) {
	body {
		font-size: 2.5vw;
	}
	#all_wrapper {
		width: 100%;
		margin: 0;
		padding: 0.5em;
		overflow: auto;
	}
	#nav_bar li {
		padding: 1em;
	}
	#left_wrapper, #right_wrapper {
		width: 100%;
	}
}
